.App {
    text-align: center;
    font-family: 'Raleway', sans-serif
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color:silver;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: pink;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  body,h1,h2,h3,h4,h5,h6, body, html {
  // height: 100%;
  // color: #777;
  // line-height: 1.8;
  font-family: 'Raleway', sans-serif
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url('./images/AbeKislevitz_NightLake_RMBP.jpg');
  min-height: 100vh;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url('./images/tom.jpg');
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url('./images/IMG_0382.jpg');
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.w3-bar{
  z-index: 9000;
    color: white;
}

.mini-intro{
  color: white;
}

.mini-intro1{
  color:black
}

.AboutMe-text{
  display: flex;
  flex-direction: column;
  margin-left: 1em
}
.profile{
  max-width: 50%;
  height: auto;
}
.AboutMe{
  display: flex;
  margin: 1em;
}

.title{
  border-bottom: 1px solid;
  padding-bottom: 0.25em 
}
.skills{
  background: gray;
  color: white
}

.quote{
  border-bottom: 1px solid;
  padding-bottom: 0.25em
}

.minibox{
  background: #5e5e5e
}

.softskills{
  margin: 1em
}

.skill-underline{
  border-bottom: 0.01em solid
}

.top_categories{
  margin: 1em;
  display: flex;
  justify-content: space-between
}



// .skill-list{
//   display: flex;
//   justify-content: space-between;
//   margin-right: 2em;
// }
